<!DOCTYPE html>
<html>

<style>
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>


<body>
<center><h1><font color="white">Heart Disease Prediction</h1></center>
<h2>     </h2>

<div align="center" style="margin-right: 30%;
    margin-left: 30%;">

  <form method="POST">
  <form action="/action_page.php">
    <label for="age"></label>
    <input type="number" id="age" name="age" placeholder="Age" required>

    <label for="sex">Sex</label>
    <select id="sex" name="sex">
      <option value='1'>Male</option>
      <option value='0'>Female</option>
    </select>

    <label for="cp">Chest Pain Type</label>
    <select id="cp" name="cp">
      <option value='0'>asymptomatic</option>
      <option value='1'>atypical angina</option>
      <option value='2'>non-anginal pain</option>
      <option value='3'>typical angina</option>
    </select>

    <label for="trestbps"></label>
    <input type="number" id="trestbps" name="trestbps" placeholder="Resting Blood Pressure (mm Hg)" required>

    <label for="chol"></label>
    <input type="number" id="chol" name="chol" placeholder="Serum Cholestrol (mg/dl)" required>


    <label for="fbs">Fasting Blood Sugar (> 120 mg/dl)</label>
    <select id="fbs" name="fbs">
      <option value='1'>True</option>
      <option value='0'>False</option>
    </select>


    <label for="restecg">Resting Electrocardiographic Results</label>
    <select id="restecg" name="restecg">
      <option value='0'>showing probable or definite left ventricular hypertrophy by Estes’ criteria</option>
      <option value='1'>normal</option>
      <option value='2'>having ST-T wave abnormality</option>
    </select>


    <label for="thalach"></label>
    <input type="number" id="thalach" name="thalach" placeholder="Maximum Heart Rate Achieved" required>


    <label for="exang">Exercise Induced Angina</label>
    <select id="exang" name="exang">
      <option value='1'>Yes</option>
      <option value='0'>No</option>
    </select>

    <label for="oldpeak">ST depression induced by exercise relative to rest</label>
    <input type="number" id="oldpeak" name="oldpeak" placeholder="ST depression induced by exercise relative to rest" required>

    <label for="slope">The slope of the peak exercise ST segment</label>
    <select id="slope" name="slope">
      <option value='0'>downsloping</option>
      <option value='1'>flat</option>
      <option value='2'>upsloping</option>
    </select>

    <label for="ca">Number of major vessels</label>
    <select id="ca" name="ca">
      <option value='0'>0</option>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
    </select>


    <label for="thal">Thalassemia</label>
    <select id="thal" name="thal">
      <option value='1'>fixed defect (no blood flow in some part of the heart)</option>
      <option value='2'>normal blood flow</option>
      <option value='3'>reversible defect (a blood flow is observed but it is not normal)</option>
    </select>







    <select name="req_model">
      <option value="Logistic">Logistic Regression</option>
      <option value="RandomForest">Random Forest</option>
    </select>


    <input type="submit" value="Predict">
  </form>
</form>

<form method="GET">
    <center><h2><font color="Black"> Disease Category is {{ target}}</h2></center>
    <center><h2><font color="Black"> {{ have_disease}}</h2></center>
</form>


</div>


</body>
</html>
